header, footer {
    background-color: var(--nav-bar);
}

#div-column {
    background-color: var(--nav-bar);
    height: 100vh !important;
    top: 0;

    footer {
        display: table;
    }
}

#nav-column {
    flex-direction: column;
}

#nav-icon {
    font-size: 50px;
}