<h1>Wilderness</h1>
<br>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card w-50 border-primary">
            <div class="card-body">
                <h3 class="card-title">Overarching Terrain</h3>
                <br>
                <div class="input-group">
                    <span class="input-group-text" for="overarching">Select Terrain</span>
                    <select id="overarching" class="form-select" [(ngModel)]="selectedOverarchingTerrain">
                        <option>Arctic</option>
                        <option>Coastal</option>
                        <option>Desert</option>
                        <option>Forest</option>
                        <option>Grassland</option>
                        <option>Hill</option>
                        <option>Mountain</option>
                        <option>Swamp</option>
                    </select>
                </div>
                <button type="button" class="btn" (click)="generateOverarchingTerrain()">Generate</button>
            </div>
            <br>
            <ul class="list-group list-group-flush">
                @if (overarchingTerrainDescription().length == 0) {
                    <li class="list-group-item">No terrain generated.</li>
                } @else {
                    <li class="list-group-item">{{overarchingTerrainLabel()}} Terrain: {{overarchingTerrainDescription()}}</li>
                }
            </ul>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card w-50 border-primary">
            <div class="card-body">
                <h3 class="card-title">Minor Terrain</h3>
                <br>
                <div class="input-group">
                    <span class="input-group-text" for="minor">Select Terrain</span>
                    <select id="minor" class="form-select" [(ngModel)]="selectedMinorTerrain">
                        <option>Clearfelled Area</option>
                        <option>Clearing</option>
                        <option>Gully</option>
                        <option>Hill</option>
                        <option>Lake</option>
                        <option>Landscape Feature</option>
                        <option>Monument</option>
                        <option>Mountain</option>
                        <option>Oasis</option>
                        <option>Rocky Outcrop</option>
                        <option>Settlement</option>
                        <option>Structure</option>
                        <option>Swamp</option>
                        <option>Waterway</option>
                        <option>Woods</option>
                    </select>
                </div>
                <button type="button" class="btn" (click)="generateMinorTerrain()">Generate</button>
            </div>
            <br>
            <ul class="list-group list-group-flush">
                @if (minorTerrainDescription().length == 0) {
                    <li class="list-group-item">No terrain generated.</li>
                } @else {
                    <li class="list-group-item">Terrain: {{minorTerrainLabel()}}</li>
                    <li class="list-group-item">Description: {{minorTerrainDescription()}}</li>
                    @if (minorTerrainNotes().length == 0) {
                        <li class="list-group-item">Notes: None</li>
                    } @else {
                        <li class="list-group-item">Notes: {{minorTerrainNotes()}}</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card w-50 border-primary">
            <div class="card-body">
                <h3 class="card-title">Discovery</h3>
                <br>
                <button type="button" class="btn" (click)="getDiscovery()">Generate</button>
            </div>
            <br>
            <ul class="list-group list-group-flush">
                @if (discovery().length == 0) {
                    <li class="list-group-item">No discovery generated.</li>
                } @else {
                    <li class="list-group-item">{{discovery()}}</li>
                }
            </ul>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card w-50 border-primary">
            <div class="card-body">
                <h3 class="card-title">Clue</h3>
                <br>
                <button type="button" class="btn" (click)="getClue()">Generate</button>
            </div>
            <br>
            <ul class="list-group list-group-flush">
                @if (clue().length == 0) {
                    <li class="list-group-item">No clue generated.</li>
                } @else {
                    <li class="list-group-item">{{clue()}}</li>
                }
            </ul>
        </div>
    </div>
</div>
<br><br>